<head>
  <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% include bootstrap.html %}
  {% include ribbon.html %}

  <style>.highlighter-rouge {background-color: #EEE}</style>

  <script src="{{ '/js/script.js' | relative_url }}" defer></script>
</head>
