<nav class="navbar navbar-expand-md navbar-light" style="background-color: #F0E8C0">
  <div class="container">
    <a class="navbar-brand" href="{{ '/cardb' | relative_url }}">
      <i class="fa-solid fa-layer-group"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for item in site.data.nav %}
        {% if item.items %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ item.label }}
          </a>
          <ul class="dropdown-menu">
            {% for sub in item.items %}
            <li><a class="dropdown-item" href="{{ sub.url | relative_url }}">
		{% unless forloop.first %}
		<i class="fa-solid fa-chevron-right fa-2xs text-muted me-1"></i>
		{% endunless %}
		{{ sub.label }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.label }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
